.snowman {
  position: relative;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  bottom: 410px;
  left: 30%;
}

.head {
  content: "";
  position: absolute;
  top: ;
  left: 200px;
  width: 100px;
  height: 100px;
  background: #e3effc;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
}

.body {
  content: "";
  position: absolute;
  top: 90px;
  left: 100px;
  width: 300px;
  height: 320px;
  background: #e3effc;
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
}

.eye {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  left: 30px;
  top: 30px;
}

.eye.right {
  right: 30px;
  left: auto;
}

.nose {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 30px solid red;
  border-bottom: 5px solid transparent;
  content: "";
  position: absolute;
  top: 45px;
  left: 50px;
}

.nose:before {
  content: "";
  width: 9px;
  height: 9px;
  background: red;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  left: -33px;
  top: -5px;
}

.arm {
  content: "";
  width: 100px;
  height: 5px;
  background: brown;
  position: absolute;
  left: -90px;
  top: 100px;
  transform: rotate(30deg);
}

.arm:before {
  content: "";
  width: 30px;
  height: 3px;
  background: brown;
  position: absolute;
  top: -8px;
  left: -27px;
  transform: rotate(30deg);
}

.arm:after {
  content: "";
  width: 30px;
  height: 3px;
  background: brown;
  position: absolute;
  top: 9px;
  left: -27px;
  transform: rotate(-30deg);
}

.arm.right {
  left: auto;
  right: -90px;
  transform: rotate(150deg)
}

.scarf {
  width: 80px;
  height: 20px;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10px;
  background: red;
  z-index: 1;
}

.scarf:after {
  width: 80px;
  height: 20px;
  content: "";
  position: absolute;
  top: 20px;
  right: -60px;
  background: red;
  z-index: 1;
  transform: rotate(30deg);
}

.buttons {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  left: 50%;
  top: 80px;
}

.buttons:before,
.buttons:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  left: 50%;
  top: 80px;
}

.buttons:after {
  top: 150px;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

body {
  background: #0d0b2b;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(80px)
  }
  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}